﻿@using Portal.jka.vn.Domain;
@model List<Role>;
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutEmpty";
}

<div class="container d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="w-50  ">
        <h1 class="text-center">Portal JKA</h1>
        <form asp-controller="Home" asp-action="Login">
            <div class="form-group mt-2 mb-2">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" />
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" />
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="role">Roles</label>
                <select class="form-select" name="roleId" aria-label="Roles">
                    @foreach(var role in Model)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>