﻿.pagination li {
    border-radius: 40px !important;
    padding-left: 0;
    line-height: 0;
}

.pagination .page-item a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
/*input*/
.inputSearch {
    /*border: 0px;*/
    border-radius: 5px;
    height: 100%;
    width: 100%;
    font-weight: lighter;
    font-size: 11px;
}

th.display-none, td.display-none {
    display: none;
}

.bordertdtable td {
    border: 1px solid black;
}

.noneborder td {
    border: none;
}

.noneborder th {
    border: none;
}

.bordertdtable th {
    border: 1px solid black;
}
/*checkbox*/
#pinput {
    position: relative;
}

#pinput > input[type="radio"] {
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 2;
    width: 26px;
    height: 26px;
    opacity: 0;
    vertical-align: middle;
}

#pinput > input[type="radio"] + label {
    vertical-align: middle;
    border: 2px solid #ccc;
    background-color: #fff;
    height: 17px;
    width: 17px;
    margin-right: 16px;
    display: inline-block;
    z-index: 1;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#pinput > input[type="radio"]:checked + label {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #178a27), color-stop(1, #adf786));
    background: -moz-linear-gradient(center bottom, #178a27 0%, #adf786 100%);
    box-shadow: 0 2px 7px rgba(0,0,0, 0.6);
    border: 2px solid #fff;
}

#pinput > input[type="radio"]:checked + label:after {
    content: '\2714';
    text-indent: 0;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 2px;
    width: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.7);
}
