﻿@{
    ViewData["Title"] = "Done";
    Layout = "_LayoutProject";
}


<div>WebId > Projects > Report Summary</div>
<table>
    <thead>
        <tr>
            <td>Report</td>
            <td>Status</td>
        </tr>
    </thead>
</table>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">Legal Business/ Merchant Name</th>
                        <th class="text-nowrap">Billing Descriptor</th>
                        <th class="text-nowrap">Merchant DBA</th>
                        <th class="text-nowrap">Address 1</th>
                        <th class="text-nowrap">Address 2</th>
                        <th class="text-nowrap">City</th>
                        <th class="text-nowrap">Region/State</th>
                        <th class="text-nowrap">Country</th>
                        <th class="text-nowrap">Postal/Zip Code</th>
                        <th class="text-nowrap">Phone Number</th>
                        <th class="text-nowrap">Email Address</th>
                        <th class="text-nowrap">Business Description</th>
                        <th class="text-nowrap">Contact Name</th>
                        <th class="text-nowrap">URL</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="QA" asp-controller="Project" class="btn btnQAUser border-dark border">QA User</a>
    <button class="btn btnViewQAReport border-dark border">View QA Report</button>
    <button class="btn btnViewUser border-dark border">View User</button>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/active-worksheet.js"></script>
}