﻿@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutProject";
}

<div>WebId > Projects > Report Summary</div>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">User</th>
                        <th class="text-nowrap">Completed</th>
                        <th class="text-nowrap">Found</th>
                        <th class="text-nowrap">Percent</th>
                        <th class="text-nowrap">Time Spent</th>
                        <th class="text-nowrap">Record/Hours</th>
                        <th class="text-nowrap">QA'd</th>
                        <th class="text-nowrap">FalsePos</th>
                        <th class="text-nowrap">FalseNeg</th>
                        <th class="text-nowrap">% QA'd</th>
                        <th class="text-nowrap">Accuracy</th>
                        <th class="text-nowrap">Revisit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="ViewUser" asp-controller="Project" class="btn btnViewUser border-dark border">View User</a>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/analyst-statistics.js"></script>
}