﻿@{
    ViewData["Title"] = "Check";
    Layout = "_LayoutProject";
}
@model Project
<input type="hidden" class="projectID" value="@Model.Id"  />
<input type="hidden" class="dataInforID" />
<div class="container-fluid">
    <div class="col-md-12 row">
        <div class="col-md-8 windowOpen">
           
        </div>
        <div style="background-color:#e0ebeb;" class="col-md-4 border">
            <div style="background-color:#d1e0e0;" >
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Analyst note
                    </div>
                    <textarea class="form-control"></textarea>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Url
                    </div>
                    <textarea class="form-control suggestUrl"></textarea>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" id="revisits" name="revisits" class="form-check-input" />
                                <label class="form-check-label" for="revisits">Revisits</label>
                            </div>
                        </div>
                        <div class="col ">
                            <div style="display:inline-block;">
                                <button class="btn btn-sm btn-primary btnExport">Export</button>
                                <button class="btn btn-sm btn-info btnSupervisor">Supervisor</button>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Search Engine
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select  class="form-control" id="exampleFormControlSelect2">
                            <option>Google</option>
                        </select>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Merchant name
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="merchanDBA"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="legalBusiness"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Billing descriptor
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="billingDescriptor"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Address
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="address1"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="address2"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="cityRegion"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div style=" flex-wrap: wrap; display: flex;" class="col">
                                <input type="checkbox" />
                                <label class="merchantDBACity"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div style=" flex-wrap: wrap; display: flex;" class="col">
                                <input type="checkbox" />
                                <label class="legalBussinessCity"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Merchant information
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="phoneNumber"></label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="emailAddress"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Advance Search
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <a target="_blank" id="search-map" class="search-map">Search Google map</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                        Additional information
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                                <input type="checkbox" />
                                <label class="contactName"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:10px;" class="form-group border border-dark m-2">
                    <div class="h6">
                       Statistics
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <div class="col">
                               <span class="h6">
                                   Worked / Remaining For Current Project:
                               </span>
                               <div  class="workedRemaining d-flex flex-nowrap">
                                   <div class="recordWorking"></div>/
                                   <div class="totalRecord"></div>
                               </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <span class="h6">
                                    Complete Today For Current Project
                                </span>
                                <div class="completeCurrentProject"></div>
                            </div>
                        
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="h6">
                                    Complete Today For All Project
                                </span>
                                <div class="completeAllProject"></div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="h6">
                                    Rate Per Hours For All Project
                                </span>
                                <div class="rateAllProject"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/check-report.js"></script>
}
