﻿
@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutProject";
}
<div class="col-md-12 w-75" style="position: absolute; top:30%;padding:10px;">
    <h4>WebId</h4>
    <div style="background-color:#a3c2c2;" class="border col-md-12 border-dark">
        <div class="row" style="display: inline-block;padding:10px">
            <a asp-action="ProjectProcessing" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3" >Reports</a>- View the reports that you are assigned to. Work on reports that are in-progress
        </div>
        <br />
        <div class="row" style="display: inline-block;padding:10px;">
            <a asp-action="Statistics" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3" >Statistic</a>- View the statistics across all projects the given timeframe
        </div>
    </div>
</div>



