﻿@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutProject";
}
@model Statistics

<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">Reports</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-nowrap">Total Record</th>
                        <th class="text-nowrap">Remain Check</th>
                        <th class="text-nowrap">Remain Supervisor</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/project-processing.js"></script>

}