﻿@{
    ViewData["Title"] = "Done";
    Layout = "_LayoutProject";
}

<div>WebId > Project</div>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th></th>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">Report</th>
                        <th class="text-nowrap">Imported</th>
                        <th class="text-nowrap">Duplicate</th>
                        <th class="text-nowrap">Reviewed</th>
                        <th class="text-nowrap">Urls</th>
                        <th class="text-nowrap">Records</th>
                        <th class="text-nowrap">Revisit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <button class="btn btn-sm border border-dark btnViewReport">View Report</button>
                <a asp-action="ActiveWorksheet" asp-controller="Project" class="btn btn-sm border border-dark btnActiveWorksheet">Active Worksheet </a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/project-qa.js"></script>
}