﻿@{
    ViewData["Title"] = "Check";
    Layout = "_LayoutProject";
}
<div>WebId > Projects > Report Summary > QA</div>
<table class="table border">
    <tr>
        <th colspan="2">Summary</th>
    </tr>
    <tr>
        <th>User</th>
        <th>Report</th>
    </tr>
</table>
<div class="col-md-12 row">
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>Start Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>End Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-6 row">
            <div class="d-inline-block">
                <input type="checkbox" id="allDate" name="allDate" />
                <label for="allDate">All Dates</label>
            </div>
        </div>
        <div class="col-md-6 row">
            <button type="submit" class="btn btn-primary btn-sm p-0 w-50 h-50">Submit</button>
        </div>
    </div>
</div>
<div class="d-inline-block">
    <div>Status</div>
    <select class="form-control">
        <option>All</option>
        <option>Revisit</option>
        <option>Reviewed</option>
    </select>
</div>
<br />
<div class="d-inline-block">
    <div>QC</div>
    <select class="form-control">
        <option>Check</option>
        <option>Supervisor</option>
    </select>
</div>
<br />
<div class="d-inline-block">
    <div>Url Found</div>
    <select class="form-control">
        <option>All</option>
        <option>Yes</option>
        <option>No</option>
    </select>
</div>
<br />
<div class="d-inline-block">
    <div>Sort by</div>
    <select class="form-control">
        <option>Most changes</option>
        <option>Random</option>
    </select>
</div>
<div>
    <a asp-action="QAReport" asp-controller="Project" class="btn border border-dark btnBeginQA">Begin QA</a>
</div>
@section Scripts{
    <script>
        const daySelects = document.querySelectorAll('.daySelect');
        const monthSelects = document.querySelectorAll('.monthSelect');
        const yearSelects = document.querySelectorAll('.yearSelect');

        const currentDate = new Date();
        const currentDay = currentDate.getDate();
        const currentMonth = currentDate.getMonth();
        const currentYear = currentDate.getFullYear();

        function populateDays(select, month, year) {
            select.innerHTML = '';

            const daysInMonth = new Date(year, month + 1, 0).getDate();

            for (let day = 1; day <= daysInMonth; day++) {
                const option = document.createElement('option');
                option.value = day;
                option.textContent = day;
                select.appendChild(option);
            }
        }

        function populateMonths(select) {
            select.innerHTML = '';

            const months = [
                'January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'
            ];

            for (let month = 0; month < months.length; month++) {
                const option = document.createElement('option');
                option.value = month;
                option.textContent = months[month];
                select.appendChild(option);
            }
        }

        function populateYears(select) {
            const currentYear = new Date().getFullYear();

            for (let year = currentYear; year >= currentYear - 100; year--) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                select.appendChild(option);
            }
        }

        daySelects.forEach(select => {
            populateDays(select, currentMonth, currentYear);
            select.value = currentDay;
        });
        monthSelects.forEach(select => {
            populateMonths(select);
            select.value = currentMonth;
        });
        yearSelects.forEach(select => {
            populateYears(select);
            select.value = currentYear;
        });

        monthSelects.forEach((select, index) => {
            select.addEventListener('change', function () {
                const selectedMonth = parseInt(select.value);
                const selectedYear = parseInt(yearSelects[index].value);
                populateDays(daySelects[index], selectedMonth, selectedYear);
            });
        });

        yearSelects.forEach((select, index) => {
            select.addEventListener('change', function () {
                const selectedMonth = parseInt(monthSelects[index].value);
                const selectedYear = parseInt(select.value);
                populateDays(daySelects[index], selectedMonth, selectedYear);
            });
        });

    </script>
}