﻿@{
    ViewData["Title"] = "Done";
    Layout = "_LayoutProject";
}
<div class="col-md-12 w-75" style="position: absolute; top:30%;padding:10px;">
    <h4>WebId</h4>
    <div style="background-color:#a3c2c2;" class="border col-md-12 border-dark">
        <div class="row" style="display: inline-block;padding:10px">
            <a asp-action="ProjectQA" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3">Projects</a>- Import, export and manage Website identification projects. Also view the project statistics on a per project basic.
        </div>
        <br />
        <div class="row" style="display: inline-block;padding:10px;">
            <a asp-action="UserStatistics" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3">Users Statistic</a>- View the user statistic for the Website Identification projects.
        </div>
    </div>
</div>
