﻿@{
    ViewData["Title"] = "Processing";
    Layout = "_LayoutProject";
}
@model User
<div class="col-md-12">
    <table class="table border">
        <tr>
            <td colspan="2">Summary</td>
        </tr>
        <tr>
            <td>User: @Model.UserName</td>
            
        </tr>
    </table>
</div>
<div class="col-md-12 row">
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>Start Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>End Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-6 row">
            <div class="d-inline-block">
                <input type="checkbox" id="allDate" name="allDate" />
                <label for="allDate">All Dates</label>
            </div>
        </div>
        <div class="col-md-6 row">
            <button type="submit" class="btn btn-primary btn-sm p-0 w-50 btnFilter">Submit</button>
        </div>
    </div>
</div>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th></th>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">Report</th>
                        <th class="text-nowrap">Reviewed</th>
                        <th class="text-nowrap">Found</th>
                        <th class="text-nowrap">%</th>
                        <th class="text-nowrap">Time spent</th>
                        <th class="text-nowrap">Record/ hours</th>
                        <th class="text-nowrap">QA'd</th>
                        <th class="text-nowrap">False Pos</th>
                        <th class="text-nowrap">False Neg</th>
                        <th class="text-nowrap">Accuracy</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <button class="btn btn-sm border border-dark btnViewQA">View QA Report</button>
                <button class="btn btn-sm border border-dark btnViewSummary">View User Summary</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/statistics.js"></script>
    
}