﻿@{
    ViewData["Title"] = "Done";
    Layout = "_LayoutProject";
}
<div class="col-md-12 row">
    <h5>Report Summary</h5>
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>Start Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect day-from"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect month-from"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect year-from"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-3" style="padding-right: 0;">
            <span>End Date: </span>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control daySelect day-to"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
            <select class="form-control monthSelect month-to"></select>
        </div>
        <div class="col-md-3" style="padding-left: 0;">
            <select class="form-control yearSelect year-to"></select>
        </div>
    </div>
    <div class="row col-md-4">
        <div class="col-md-6 row">
            <button type="button" class="btnReportSummary btn btn-primary btn-sm p-0 w-50 ">Submit</button>
        </div>
    </div>
</div>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th></th>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">Report</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-nowrap">Imported</th>
                        <th class="text-nowrap">Duplicate</th>
                        <th class="text-nowrap">Reviewed</th>
                        <th class="text-nowrap">Urls</th>
                        <th class="text-nowrap">Records</th>
                        <th class="text-nowrap">Revisit</th>
                        <th class="text-nowrap">Training</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn border border-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add
    </button>
    <button type="button" class="btn border border-dark btnEdit" data-bs-toggle="modal" data-bs-target="#ModalEdit">Edit</button>
    <button type="button" class="btn border border-dark btnActiveWorkSheet">Active WorkSheet</button>
    <button type="button" class="btn border border-dark btnViewProject">View Project</button>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Import File</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="reportname">Report Name:</label>
                    <input type="text" name="reportname" class="report-name form-control" />
                </div>
                <div class="form-group">
                    <label for="file">File:</label>
                    <input type="file" name="file" class="file-name form-control" />
                </div>
                <div class="form-group">
                    <label for="reportname">Training:</label>
                    <input type="checkbox" name="reportname" class="report-training form-check-input" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnSave">Save</button>
                <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="ModalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalEditLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="id-Edit"/>
                <div class="form-group">
                    <label for="reportname">Report Name:</label>
                    <input type="text" name="reportname" class="report-name-edit form-control" />
                </div>
                <div class="form-group">
                    <label for="file">Status</label>
                    <select class="form-control status-edit">
                        <option value="Importing">Importing</option>
                        <option value="Imported">Imported</option>
                        <option value="Canceled">Canceled</option>
                        <option value="Completed">Completed</option>
           
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnSaveEdit">Save</button>
                <button type="button" class="btn btn-secondary btnCloseEdit" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/user-manager.js"></script>
}