﻿@{
    ViewData["Title"] = "Done";
    Layout = "_LayoutProject";
}
<div class="col-md-12" style="position: absolute; top:30%;padding:10px;">
    <h4>WebId</h4>
    <div style="background-color:#a3c2c2;" class="border col-md-12 border-dark">
        <div class="row" style="display: inline-block;padding:10px">
            <a asp-action="AnalystStatistics" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3">Analyst Statistic</a>- View the statistics for all analyst user across all project
        </div>
        <br />
        <div class="row" style="display: inline-block;padding:10px;">
            <a asp-action="QAStatistics" asp-controller="Project" style="font-weight:bold; text-decoration:none;" class="text-primary ml-3">QA Statistic</a>- View the statistics for QA users across all projects.
        </div>
    </div>
</div>