﻿@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutProject";
}
@model ViewQAReport

<input type="hidden" value="@Model.Id" class="projectId" />
<table class="table border">
    <thead>
        <tr>
            <th colspan="4">Sumary</th>
        </tr>
        <tr>
            <th>QA'd: @Model.QAd</th>
            <th>False Pos: @Model.FalsePos</th>
            <th>False Neg: @Model.FalseNeg</th>
            <th>Accuracy: @Model.Accuracy</th>
        </tr>
    </thead>
</table>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap">DateReviewed</th>
                        <th class="text-nowrap">LegalBusiness/MerchantName</th>
                        <th class="text-nowrap">Billing Descriptor</th>
                        <th class="text-nowrap">Merchant DBA</th>
                        <th class="text-nowrap">Address1</th>
                        <th class="text-nowrap">Address2</th>
                        <th class="text-nowrap">City</th>
                        <th class="text-nowrap">RegionState</th>
                        <th class="text-nowrap">Country</th>
                        <th class="text-nowrap">Postal/ZipCode</th>
                        <th class="text-nowrap">Phone Number</th>
                        <th class="text-nowrap">Email Address</th>
                        <th class="text-nowrap">Contact Name</th>
                        <th class="text-nowrap">Business Description</th>
                        <th class="text-nowrap">InvalidUrls</th>
                        <th class="text-nowrap">ValidUrls</th>
                        <th class="text-nowrap">QA Note</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/view-qa-report.js"></script>
}