﻿@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutProject";
}
@model Statistics

<div>WebId > Projects > Report Summary</div>
<input type="hidden" value="@Model.Id" class="projectId" />
<table class="table border">
    <thead>
        <tr>
            <th>Report: @Model.Report</th>
            <th>Status: @Model.Status</th>
            <th>Completed: @Model.Completed</th>
        </tr>
        <tr>
            <th>TimeSpent: @Model.TimeSpent.ToString(@"hh\:mm\:ss")</th>
            <th>Record/Hours: @Model.RecordHours</th>
            <th>Qa'd: @Model.QAd</th>
        </tr>
        <tr>
            <th>FalsePos: @Model.FalsePos</th>
            <th>FalseNeg: @Model.FalseNeg</th>
            <th>Accuracy: @Model.Accuracy</th>
        </tr>
    </thead>
</table>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">User</th>
                        <th class="text-nowrap">Completed</th>
                        <th class="text-nowrap">Found</th>
                        <th class="text-nowrap">Percent</th>
                        <th class="text-nowrap">Time Spent</th>
                        <th class="text-nowrap">Record/Hours</th>
                        <th class="text-nowrap">QA'd</th>
                        <th class="text-nowrap">FalsePos</th>
                        <th class="text-nowrap">FalseNeg</th>
                        <th class="text-nowrap">% QA'd</th>
                        <th class="text-nowrap">Accuracy</th>
                        <th class="text-nowrap">Revisit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div >
    <a asp-action="QA" asp-controller="Project" class="btn btnQAUser border-dark border">QA User</a>
    <button class="btn btnViewQAReport border-dark border">View QA Report</button>
    <button class="btn btnViewUser border-dark border">View User</button>
</div>
@section Scripts{
    <link href="~/css/format-table.css" rel="stylesheet" />
    <script src="~/js/view-report.js"></script>

}