﻿@{
    Layout = "_LayoutProject";
}
@using Portal.jka.vn.Domain
@model List<Role>
<style>
  

    .file-upload {
        position: relative;
        padding: 10px 20px;
        color: white; 
        border-radius: 4px;
        cursor: pointer;
    }
        .file-upload:hover,
        .file-upload:focus {
            background-color: #45a049;
        }

        .file-upload label {
            cursor: pointer;
        }

        .file-upload input[type="file"]:focus + label::after,
        .file-upload input[type="file"]:valid + label::after {
            content: attr(data-file-name);
            margin-left: 10px;
            font-weight: bold;
        }

    .pagination li {
        border-radius: 40px !important;
        padding-left: 0;
        line-height: 0;
        /*border: none;
                font-size: 95%;
                width: 30px;
                height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 30px !important;
                text-align: center;
                padding: 0;*/
    }

    .pagination .page-item a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    /*input*/
    .inputSearch {
        /*border: 0px;*/
        border-radius: 5px;
        height: 100%;
        width: 100%;
        font-weight: lighter;
        font-size: 11px;
    }

    th.display-none, td.display-none {
        display: none;
    }

    .bordertdtable td {
        border: 1px solid black;
    }

    .noneborder td {
        border: none;
    }

    .noneborder th {
        border: none;
    }

    .bordertdtable th {
        border: 1px solid black;
    }
    /*checkbox*/
    #pinput {
        position: relative;
    }

        #pinput > input[type="radio"] {
            cursor: pointer;
            position: absolute;
            left: 3px;
            top: 0;
            z-index: 2;
            width: 26px;
            height: 26px;
            opacity: 0;
            vertical-align: middle;
        }

            #pinput > input[type="radio"] + label {
                vertical-align: middle;
                border: 2px solid #ccc;
                background-color: #fff;
                height: 17px;
                width: 17px;
                margin-right: 16px;
                display: inline-block;
                z-index: 1;
                position: relative;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            #pinput > input[type="radio"]:checked + label {
                background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #178a27), color-stop(1, #adf786));
                background: -moz-linear-gradient(center bottom, #178a27 0%, #adf786 100%);
                box-shadow: 0 2px 7px rgba(0,0,0, 0.6);
                border: 2px solid #fff;
            }

                #pinput > input[type="radio"]:checked + label:after {
                    content: '\2714';
                    text-indent: 0;
                    font-size: 15px;
                    color: #fff;
                    position: absolute;
                    top: -5px;
                    left: 2px;
                    width: 4px;
                    text-shadow: 0 -1px 0 rgba(0,0,0, 0.7);
                }
</style>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreate">
     Create new user
</button>

<!-- Modal -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Create new user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control email " id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control password" id="Password" placeholder="Password">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <label for="FirstName">FirstName</label>
                        <input type="text" class="form-control firstname " id="FirstName" aria-describedby="emailHelp" placeholder="Enter firstname">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="LastName">LastName</label>
                        <input type="text" class="form-control lastname" id="LastName" placeholder="Enter lastname">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <label for="UserName">Username</label>
                        <input type="text" class="form-control username " id="UserName" aria-describedby="emailHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Role</label>
                        <select class="form-control roleId" id="exampleFormControlSelect1">
                            @foreach(var role in Model)
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input checkActive" type="checkbox"  id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Active
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnCreate">Create</button>
                <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <input type="hidden" class="idUpdate" />
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="EmailUpdate">Email</label>
                            <input type="email" class="form-control emailUpdate " id="EmailUpdate" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="PasswordUpdate">Password</label>
                            <input type="password" class="form-control passwordUpdate" id="PasswordUpdate" placeholder="Password">
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="FirstNameUpdate">FirstName</label>
                            <input type="text" class="form-control firstnameUpdate " id="FirstNameUpdate" aria-describedby="emailHelp" placeholder="Enter firstname">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">LastName</label>
                            <input type="text" class="form-control lastnameUpdate" id="LastNameUpdate" placeholder="Enter lastname">
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="UserNameUpdate">Username</label>
                            <input type="text" class="form-control usernameUpdate " id="UserNameUpdate" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Role</label>
                            <select class="form-control roleIdUpdate" id="exampleFormControlSelect1">
                                @foreach (var role in Model)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input checkActiveUpdate" type="checkbox" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCloseUpdate" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Do you want to delete user?</h6>
                <input type="hidden" class="idDelete" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCloseDelete" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="m-3" id="divTableHeader" style="margin-top:3vh">
    <div class="">
        <div class="bg-white pl-4 pr-4">
            <table id="t2" class="table-striped table-bordered table-sm table-hover" cellspacing="0" style="max; font-size: 11px;min-width:100%">
                <thead style="background-color:#09384e;position:sticky;top: 0;z-index:4; color:white">
                    <tr>
                        <th class="text-nowrap">Action</th>
                        <th class="text-nowrap">Id</th>
                        <th class="text-nowrap">UserName</th>
                        <th class="text-nowrap">Password</th>
                        <th class="text-nowrap">FirstName</th>
                        <th class="text-nowrap">LastName</th>
                        <th class="text-nowrap">Email</th>
                        <th class="text-nowrap">IsActive</th>
                        <th class="text-nowrap">Role</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('#t2 thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('#t2 thead');
            var table = $('#t2').DataTable({
                "scrollX": true,
                scrollY: '70vh',
                scrollCollapse: true,
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                orderCellsTop: true,
                fixedHeader: true,
                info: false,
                order: [[1, 'desc']],
                dom: 'Bfrtip', // Hiển thị các nút export
                buttons: [
                    'copy', 'csv', 'xlsx', 'pdf', 'print' // Các loại nút export
                ],
                "ajax": {
                    "url": "/User/GetList",
                    "type": "Get",
                    "dataSrc": ""
                },
                "columns": [
                    {
                        "data": "user.id", render: function (data, type, row) {
                            return '<a role="button" id="btnCheckUpdate" data-bs-toggle="modal" data-bs-target="#modalUpdate" class="btn btn-success btn-sm" value="' + data + '">Update</a>'
                                + '<a role="button" data-bs-toggle="modal" data-bs-target="#modalDelete" id="btnCheckDelete" class="btn btn-danger btn-sm" value="' + data + '">Delete</a>';
                        }, "class": "text-center text-nowrap"
                    },
                    { "data": "user.id", "class": "text-nowrap" },
                    { "data": "user.userName", "class": "text-nowrap" },
                    { "data": "user.password", "class": "text-nowrap" },
                    { "data": "user.firstName", "class": "text-nowrap" },
                    { "data": "user.lastName", "class": "text-nowrap" },
                    { "data": "user.email", "class": "text-nowrap" },
                    { "data": "user.isActive", "class": "text-nowrap" },
                    { "data": "role.name", "class": "text-nowrap" },
                ],
                initComplete: function () {
                    var api = this.api();
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" class="inputSearch" placeholder="' + title + '" />');
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });
            $(".btnCreate").click(function () {
                var checkActive = $(".checkActive").prop("checked");
                var user = {
                    userName: $(".username").val(),
                    passWord: $(".password").val(),
                    firstName: $(".firstname").val(),
                    lastName: $(".lastname").val(),
                    email: $(".email").val(),
                    roleId: $(".roleId").val(),
                    isActive: checkActive
                };
                $.ajax({
                    url: "/User/CreateUser",
                    type: "POST",
                    data: JSON.stringify(user), // Chuyển đối tượng thành JSON
                    contentType: 'application/json', // Sử dụng loại dữ liệu application/json
                    success: function (result) {
                        table.clear();
                        table.ajax.reload(null, false);
                        $(".btnClose").click();
                    },
                });
            });

            $(document).on("click", "#btnCheckDelete", function () {
                var userID = $(this).attr("value");
                $(".idUpdate").val(userID);
               
               
            });
            $(".btnDelete").click(function(){
                var userID = $(".idUpdate").val();
                $.ajax({
                    url: "/User/DeleteUser",
                    type: "Delete",
                    data: { id: userID }, // Chuyển đối tượng thành JSON
                    success: function (result) {
                        table.clear();
                        table.ajax.reload(null, false);
                        $(".btnCloseDelete").click();
                    },
                });
            });
            $(document).on("click", "#btnCheckUpdate", function () {
                var userID = $(this).attr("value");
                $.ajax({
                    url: "/User/GetUserId",
                    type: "Get",
                    data: { id: userID }, // Chuyển đối tượng thành JSON
                    contentType: 'application/json', // Sử dụng loại dữ liệu application/json
                    success: function (result) {
                        $(".emailUpdate").val(result.email);
                        $(".passwordUpdate").val(result.password);
                        $(".firstnameUpdate").val(result.firstName);
                        $(".lastnameUpdate").val(result.lastName);
                        $(".usernameUpdate").val(result.userName);
                        $(".roleIdUpdate").val(result.roleId);
                        if (result.isActive) {
                            $(".checkActiveUpdate").prop("checked", true); // Chọn ("checked")
                        } else {
                            $(".checkActiveUpdate").prop("checked", false); // Không chọn ("not checked")
                        }
                        $(".idUpdate").val(userID);

                    },
                });
            });
            $(".btnSave").click(function(){
                var checkActive = $(".checkActiveUpdate").prop("checked");
                var user = {
                    id: $(".idUpdate").val(),
                    userName: $(".usernameUpdate").val(),
                    passWord: $(".passwordUpdate").val(),
                    firstName: $(".firstnameUpdate").val(),
                    lastName: $(".lastnameUpdate").val(),
                    email: $(".emailUpdate").val(),
                    roleId: $(".roleIdUpdate").val(),
                    isActive: checkActive
                };
                $.ajax({
                    url: "/User/UpdateUser",
                    type: "PUT",
                    data: JSON.stringify(user), // Chuyển đối tượng thành JSON
                    contentType: 'application/json', // Sử dụng loại dữ liệu application/json
                    success: function (result) {
                        table.clear();
                        table.ajax.reload(null, false);
                        $(".btnCloseUpdate").click();
                    },
                });
            });
          
        });
    </script>
}